# Windows line endings on all text files
* text eol=auto

# SOA binary asset files:
*.png   binary
*.ogg   binary
*.ico   binary

# Visual Studio files:
*.pbxproj binary merge=union eol=lf
*.vcxproj text merge=union eol=crlf
*.sln text merge=union eol=crlf

# Windows binary project files:
*.exe   binary
*.dll   binary
*.lib   binary
*.a     binary
*.hpp   binary

# Language aware diffs and force line endings if git did not know they are text:
*.h     diff=cpp
*.cpp   diff=cpp
*.py    diff=python
*.cs    diff=csharp
