# -----------------------------------------------------------------------------
# After much research...
#  text should be auto, it's the only sane cross-platform option
#
#  See:  http://stackoverflow.com/a/10855862
#  See also: http://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/
#
#  To squelch extraneous messages on windows, run:
#     git --config core.autocrlf=true
#
#  To stay consistent on OS X and Linux, run:
#     git --config core.autocrlf=input
# -----------------------------------------------------------------------------
* text eol=auto

# SOA binary asset files:
*.png   binary
*.ogg   binary
*.ico   binary

# Visual Studio files:
*.pbxproj binary merge=union
*.vcxproj text merge=union
*.sln text merge=union

# Windows binary project files:
*.exe   binary
*.dll   binary
*.lib   binary
*.a     binary
*.hpp   binary

# Language aware diffs and force line endings if git did not know they are text:
*.h     text diff=cpp
*.hpp   text diff=cpp
*.inl   text diff=cpp
*.cpp   text diff=cpp
*.py    text diff=python
*.cs    text diff=csharp
